<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">

    
    {% if title %}
        <title>title</title>
    {% else %}
         <title>Polling</title>
    {% endif %}
        


</head>

<body style=" background-color: rgb(255, 255, 255);height:auto;">



    <div class="container-fluid p-0 m-0 text-center" style="background-color: rgb(255, 255, 255);filter: drop-shadow(0px 0px 59px rgba(96, 233, 255, 0.2));">

        <nav class="navbar navbar-expand-lg navbar-light  p-3">
            <div class="container p-4" style="background-color: rgb(255, 255, 255)">
                <a class="navbar-brand mx-0" id="brand" href="index.html">
                    <div id="BRAND">
                        <span>Nile Polling</span>
                    </div>
                </a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="list-unstyled ms-auto">
                        <li>
                            <ul class="navbar-nav ms-auto  ">
                                <li id="full" class="nav-item mx-o p-3">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </li>
                                <li id="full" class="nav-item mx-o p-2">
                                    <input type="email" class="form-control inp" placeholder="Usename" id="user" aria-describedby="emailHelp">
                                </li>
                                <li id="full" class="nav-item mx-o p-2">
                                    <input type="password" class="form-control inp" id="pass" placeholder="Password" aria-describedby="emailHelp">
                                </li>
                                <li id="full" class="nav-item mx-0 p-2">
                                    <button class=" login mx-0 btn rounded-pill " type="button ">Login</button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    </nav>





    </div>
    <div class="container p-0 my-0">
        <div class="row mx-0 ">
            <div class="col-md-6 py-0 " id="main">
                <div class="row">
                    <div class="col-md-12">
                        <div id="well">
                            <span></span><span style="color:rgba(245,127,23,1);"> Welcome </span><span style="color:rgba(10,190,173,1);">to Polling</span><span style="color:rgba(245,127,23,1);"> </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 py-5">

                        <div id="Join">
                            <span>Join polling to day.</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-5 ">
                        <div id="Dare">
                            <span>Dare to think for yourself.</span>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mx-0">

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a href="#myModal" class="trigger-btn" data-toggle="modal">
                                <button type="button" class="signB mx-0 btn  me-3  rounded-pill btn-primary" style=" background-color: rgba(9, 190, 173, 1);" data-bs-toggle="modal" data-bs-target="#person">
                                    Sign Up as Person
                                  </button>
                            </a>
                            <a href="#myModal2" class="trigger-btn" data-toggle="modal">
                                <button type="button" class="signB mx-0 btn  me-3  rounded-pill btn-primary" style="background-color:rgba(245,127,23,1); filter: drop-shadow(0px 16px 28px rgba(245, 127, 23, 0.239));" data-bs-toggle="modal" data-bs-target="#company">
                                    Sign Up as Company
                                  </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center " id="top">
                <img class="img-fluid mainImg " style="filter: drop-shadow(0px 0px 59px rgba(96, 233, 255, 0.2));" src="{{ url_for('static', filename='image/light.png') }}" alt=" ">
            </div>
        </div>

    </div>
    <div class="container-fluid m-0 p-0 footer">
        <img src="{{ url_for('static', filename='image/path.png') }}" class="img-fluid p-0 m-0" alt="">
    </div>


    <div class="modal fade " style="border-radius:10% ;" id="person" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-md-5">
                <form method="POST" action="" id="personSignup">
                    {{person_form.hidden_tag()}}
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: rgba(9, 190, 173, 1)">Sign Up As Person</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group mt-2 my-md-3">
                            {%if person_form.fullname.errors%}
                                {{person_form.fullname(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.fullname.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{person_form.fullname(class="form-control ")}}
                            {%endif%}
                        </div>
                        <div class="form-group my-md-3">
                            {%if person_form.username.errors%}
                                {{person_form.username(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.username.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{person_form.username(class="form-control ")}}
                            {%endif%}
                        </div>
                        
                        <div class="form-group mt-2 my-md-3">
                            {%if person_form.email.errors%}
                                {{person_form.email(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.email.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{person_form.email(class="form-control ")}}
                            {%endif%}
                        </div>
                        <div class="form-group mt-2 my-md-3">
                            {%if person_form.password.errors%}
                                {{person_form.password(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.password.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{person_form.password(class="form-control ")}}
                            {%endif%}
                        </div>
                        <div class="form-group mt-2 my-md-3">
                            {%if person_form.confirm_password.errors%}
                                {{person_form.confirm_password(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.confirm_password.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{person_form.confirm_password(class="form-control ")}}
                            {%endif%}
                        </div>
                        <div class="form-group mt-2 my-md-3">
                            <!-- <label style="color: black;">Date of Birth</label><br>
                            <input type="date" class="form-control" required="required" id="date" name="date"> -->
                            {%if person_form.birth_date.errors%}
                                {{person_form.birth_date(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.birth_date.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                    {%endfor%}
                                </div>
                            {%else%}
                                {{person_form.birth_date(class="form-control ")}}
                            {%endif%}
                            
                        </div>
                        <div class="form-group my-md-3 ">
                            <!-- <div class="form-check" style="display: inline;">
                                <label class="form-check-label">Female
                                  <input type="radio" class="rad form-check-input " id="female" value="Female"  name="gender">
                                </label>
                            </div>
                            <div class="form-check" style="display: inline;">
                                <label class="form-check-label">Male
                                  <input type="radio" class=" rad form-check-input" id="male"  value="Male" name="gender">
                                </label>
                            </div> -->
                                {%if person_form.gender.errors%}
                                {{person_form.gender(class="form-control  is-invalid")}}
                                <div class="invalid-feedback">
                                    {%for error in person_form.gender.errors%}
                                        <span>
                                            {{error}}
                                        </span>
                                        {%endfor%}
                                    </div>
                                {%else%}
                                    {{person_form.gender(class="form-control ")}}
                                {%endif%}
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <!-- <button class="login mx-0 btn w-100" id="signupBtnP" style="background-color: rgba(9, 190, 173, 1);" value="Sign Up">Sign UP</button> -->
                        {{person_form.submit(class="login mx-0 btn w-100")}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="company" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-md-5">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: rgba(245,127,23,1);">Sign Up As Company</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group my-md-3 ">
                            <input type="text" class="form-control" required="required" placeholder="Company Name" id="cName">
                        </div>
                        <div class="form-group my-md-3 mt-2">
                            <input type="email" class="form-control" required="required" placeholder="Company Email Address" id="emailCom">
                        </div>
                        <div class="form-group my-md-3 mt-2">
                            <div class="dropdown">
                                <a class="login mx-0 btn w-100 h-50 dropdown-toggle" style="background-color:rgba(245,127,23,1);" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                      Company Category
                                    </a>

                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item" id="other">Other</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group my-md-3 mt-2">
                            <input type="text" style="display: none;" class="form-control" required="required" placeholder="Other" id="catgory"> </li>
                        </div>

                        <div class="form-group my-md-3 mt-2">
                            <input type="password" class="form-control" required="required" placeholder="Password" id="cPass">
                            <div id="companyPasswordStrength"></div>
                        </div>
                        <div class="form-group my-md-3 mt-2">
                            <input type="password" class="form-control" required="required" placeholder="Confirm Password" id="conCamPass">
                        </div>
                    </div>
                </form>
                <div class="form-group my-md-3 mt-2">
                    <button class="login mx-0 btn w-100" id="signUpBntnComp" style="background-color:rgba(245,127,23,1);" value="Sign Up">Sign UP</button>
                </div>
            </div>
        </div>
    </div>

   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.min.js "></script>


</body>

</html>